[submodule "test_cases/ltp"]
	path = test_cases/ltp
	url = https://github.com/linux-test-project/ltp.git
[submodule "test_cases/bootrr"]
	path = test_cases/bootrr
	url = https://github.com/kernelci/bootrr.git
[submodule "test_cases/igt-gpu-tools"]
	path = test_cases/igt-gpu-tools
	url = https://gitlab.freedesktop.org/drm/igt-gpu-tools.git
[submodule "test_cases/kernelci-core"]
	path = test_cases/kernelci-core
	url = https://github.com/kernelci/kernelci-core.git
[submodule "test_cases/test-definitions"]
	path = test_cases/test-definitions
	url = https://github.com/kernelci/test-definitions.git
